 <div class="stock_lookup">
   <h2>Search for Stock</h2>
   <%= bootstrap_form_tag get_stocks_path, remote: true, method: :get, id: 'stockies' do |f| %>
        <%= f.search_field :stock, params[:stock], placeholder: "Stock Symbol" %>
        <%= f.submit %>
   <% end %>
   </form>
 </div>
